<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<head>
<meta charset="ISO-8859-1">

<title>Project</title>
</head>
<body>
  <h1 style="text-align: center; background-color:powderblue;">Welcome to our Film Database</h1>
	<div style="text-align: center;background-color:lightblue;">
<h2>Menu</h2>
<ul>
  <li><button type ="submit" class="btn btn-info" a routerLink = "/films">Get all films</button></li>
  <li><button type ="submit" class="btn btn-info" a routerLink = "/newFilm">Add new film</button></li>  
</ul>
</div>